<%= render 'layouts/head' %>
  <body class="bp two-col">
		<div id="container" class="container">
			<%= render 'layouts/letterhead' %>
      <%= yield %>
			<div id="container-footer-push"></div>
		</div>
		<div id="footer">
		 	<div class="letterhead">
			  <div class="info">
			    We specialize in manufacturing any parts, shapes and profiles from all metals: Stainless Steel, Aluminum, Steel, Copper, and Pre-painted metals. Our products and servies include Roofing &amp; Siding, Flashing, Stainless Steel counters, Signs, Handrails, Stairs, Ductwork, as well as product design and onsite installation and delivery.
			  </div>
			</div>
	  </div>
  </body>
</html>
